@font-face {
    font-family: "SuperGrotesk Regular";
    src: url("./superGrotesk/SuperGroteskPro.otf");
  }

  @font-face {
    font-family: "SuperGroteskPro";
    src: url("./superGrotesk/SuperGroteskPro.otf");
  }

  @font-face {
    font-family: "SuperGrotesk Medium";
    src: url("./superGrotesk/SuperGroteskPro-Medium.otf");
  }
  @font-face {
    font-family: "Canela Medium";
    src: url("./canela/Canela-Medium.otf");
  }
  @font-face {
    font-family: "Canela Thin";
    src: url("./canela/Canela-Thin.otf");
  }
  @font-face {
    font-family: "SuperGrotesk Cond Bold";
    src: url("./superGrotesk/SuperGroteskPro-Cond-Bold.otf");
  }
  @font-face {
    font-family: "SuperGrotesk Cond Medium";
    src: url("./superGrotesk/SuperGroteskPro-Cond-Medium.otf");
  }
  @font-face {
    font-family: "SuperGrotesk Cond";
    src: url("./superGrotesk/SuperGroteskPro-Cond.otf");
  }
  @font-face {
    font-family: "SuperGrotesk Bold";
    src: url("./superGrotesk/SuperGroteskPro-Bold.otf");
  }
  @font-face {
    font-family: "SweetSans Bold";
    src: url("./sweet/SweetSans-Bold.otf");
  }
  @font-face {
    font-family: "SweetSans Regular";
    src: url("./sweet/SweetSans-Regular.otf");
  }
  @font-face {
    font-family: "SweetSans Medium";
    src: url("./sweet/SweetSans-Medium.otf");
  }
  @font-face {
    font-family: "Apercu Medium";
    src: url("./apercu/Apercu-Medium.otf");
  }